---
title: À la carte Klassiker
---

.section.center
  .section-content
    %h2 À la carte Klassiker

    %h3 Suppe
    %p Mango-Kokos-Cappuccino  6,00 €

    %p
      .fa.fa-minus

    %h3 Vorspeise
    %p Kalbscarpaccio mit Schalotten-Vinaigrette  13,50 €

    %p
      .fa.fa-minus

    %h3 Hauptgerichte
    %p Rinderfilet von der Färse mit Café de Paris-Butter und buntem Salat 28,50 €

    %p Kalbssteak an Vanille-Paprika-Gemüse mit Kartoffeln 21,50 €

    %p Maispoularde auf Rucola-Risotto mit Cashewkerne 19,50 €

    %p Wels in rotem Curry gebraten mit Orangen-Chicorée und Basmatireis 19,00 €

    %p Parmesan–Frischkäse-Ravioli in brauner Butter geschwenkt 14,50 €

    %p
      .fa.fa-minus

    %h3 Dessert
    %p Schokoladenvariation – Mousse, Zartbittereis, Brownie 8,00 €

    %p Verschiedene selbstgemachte Eiscremes und Sorbets je Kugel 1,90 €

    %p Käsevariation 13,00 €
