---
title: KONTRAST
---

.container
  %h3 Surprise
  %h4 Unser Überaschungsmenü

  %p
    Lassen Sie sich ab 35,- € von unserer Küchenchefin überraschen. Wählen Sie zwischen 3, 4 oder 5 Gängen - mit und ohne Weinbegleitung. Auf Vorbestellung gerne auch als vegetarische oder vegane Variante!

  %p
    Wir erkundigen uns gerne vor Ihrer Bestellung nach Ihren Allergien bzw. Abneigungen und können Ihnen somit Ihr spezielles Überraschungsmenü zubereiten.

  %ul
    %li
      3 Gang Überraschungsmenü 35,- € p.P. - auf Wunsch zzgl. Weinbegleitung 5,- € pro Glas und Gang

    %li
      4 Gang Überraschungsmenü 46,- € p.P. - auf Wunsch zzgl. Weinbegleitung 5,- € pro Glas und Gang

    %li
      5 Gang Überraschungsmenü 57,- € p.P. - auf Wunsch zzgl. Weinbegleitung 5,- € pro Glas und Gang
